
body {
    font-family: "Poppins", sans-serif;
    background-color: #F2F2F2;
    margin: 0;
}

#separator {
    width: 2px; 
    height: 50px;
    background-color: #000;
    margin: 0 10px;
}

#home {
    background-color: #F2F2F2;
    height: 685px;
    margin-top: 65px;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding: 0 20px; 
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.495);
    background-image: url(imagens/download.jpeg); 
}

#img-home {
    max-height: 90%;
    max-width: 100%;
    position: absolute;
    margin-right: 150px;
    bottom: 0;
    right: 0;
    z-index: 1;
    align-self: center; 
}

#h1-home {
    margin-left: 212px;
    font-size: 106px;
    margin-right: 650px;
    align-self: center; 
}

#p-home {
    margin-right: 712px;
    align-self: center; 
    font-size: 24px; 
}

#sobre {
  background-image: linear-gradient(to bottom, #F2F2F2 0%, #034C8C 1%, #06274b);

    display: flex;
    height: 682px;
    background-color: #034C8C;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-weight: 500;
    font-style: normal;
      
}

#img-sobre {
    border-radius: 50%;
    height: 500px;
    margin-right: 100px;
    margin-left: 100px; 
    border: 5px solid #F2F2F2;
    transition: transform 0.3s ease; 
}

#img-sobre:hover {
    transform: scale(1.05); 
}


#inf {
    color: #F2F2F2;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#inf h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

#inf p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
}


#menu-geral {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.299);
    height: 64px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:white; 
    z-index: 1000; 
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.25);
}

#logo {
    height: 50px;
    margin-right: 20px;
}

#menu {
    flex-grow: 1;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 64px;
    padding: 0 20px;
    width: auto;
    justify-content: right;
}

#menu ul {
    list-style-type: none;
    margin: 64px;
    padding: 0;
    display: flex;
    width: 50%;
    justify-content: space-between;

}

#menu ul li {
    display: inline;
}

#menu ul li button {
    display: block;
    font-weight: 600;
    font-style: normal;
    color: #0D0D0D;
    font-size: 20px;
    background-color:white;
    border: none;
    border-radius: 20px; 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

#menu ul li button:hover {
    background-color: #F2B705;
    color: white;
    transform: scale(1.1);
}
