
body {
    font-family: "Poppins", sans-serif;
    background-color: #F2F2F2;
    margin: 0;
}

#separator {
    width: 2px; 
    height: 50px;
    background-color: #000;
    margin: 0 10px;
}

#home {
    background-color: #F2F2F2;
    height: 685px;
    margin-top: 65px;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding: 0 20px; 
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.495);
    background-image: url(imagens/download.jpeg); 
}

#img-home {
    max-height: 90%;
    max-width: 100%;
    position: absolute;
    margin-right: 150px;
    bottom: 0;
    right: 0;
    z-index: 1;
    align-self: center; 
}

#h1-home {
    margin-left: 100px;
    font-size: 100px;
    margin-right: 650px;
    align-self: center; 
}

#sobre {
    background-image: linear-gradient(to bottom, #F2F2F2 0%, #034C8C 1%, #06274b);
    display: flex;
    height: 682px;
    background-color: #034C8C;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-weight: 500;
    font-style: normal;
}

#img-sobre {
    border-radius: 50%;
    height: 500px;
    margin-right: 100px;
    margin-left: 100px; 
    border: 5px solid #F2F2F2;
    transition: transform 0.3s ease; 
}

#img-sobre:hover {
    transform: scale(1.05); 
}


#inf {
    color: #F2F2F2;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#inf h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

#inf p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
}


#menu-geral {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.299);
    height: 64px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:white; 
    z-index: 1000; 
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.25);
}

#logo {
    padding-top: 10px;
    height: 50px;
    margin-right: 20px;
}

#menu {
    flex-grow: 1;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 64px;
    padding: 0 20px;
    width: auto;
    justify-content: right;
}

#menu ul {
    list-style-type: none;
    margin: 64px;
    padding: 0;
    display: flex;
    width: 50%;
    justify-content: space-between;

}

#menu ul li {
    display: inline;
}

#menu ul li button {
    display: block;
    font-weight: 600;
    font-style: normal;
    color: #0D0D0D;
    font-size: 20px;
    background-color:white;
    border: none;
    border-radius: 20px; 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

#menu ul li button:hover {
    background-color: #F2B705;
    color: white;
    transform: scale(1.1);
}

#container {
    background-image: linear-gradient(to bottom, #06274b 0%, #F2B705 2%, #eab001 100%);
    display: flex;
    height: 655px;
    background-color: #F2B705;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: 500;
    font-style: normal;
}

#formulario {
    border-radius: 10px;
    display: block;
    padding: 20px;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    text-align: left;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: white;
    position: relative;
}

.p-form {
    margin-left: 20px;
    display: block;
    align-items: center;
    justify-content: center;
}

#redes {
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

#redes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.li-redes {
    display: inline-block;
}

.li-redes a {
    text-decoration: none;
    color: black;
}

.li-redes img {
    height: 25px;
    width: 25px;
    vertical-align: middle; 
    margin-right: 5px; 
}


#messageBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #d4edda;
    color: #155724;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 80%;
    text-align: center;
}

input {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    width: 90%; 
    box-sizing: border-box; 
    background-color: lightgray;
}

textarea {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    width: 90%; 
    box-sizing: border-box; 
    background-color: lightgray;
    resize: none;
}

#img-container{
    height: 500px;
    margin-right: 100px;
    margin-left: 100px; 
    border: 5px solid #F2F2F2;
    transition: transform 0.3s ease; 
}

